<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/ecommerce/public/res/admin/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/ecommerce/public/res/admin/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/ecommerce/public/res/admin/dist/css/skins/skin-blue.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

<header class="main-header">
  <a href="/ecommerce/public/admin" class="logo">
    <span class="logo-mini"><b>A</b>LT</span>
    <span class="logo-lg"><b>Admin</b>LTE</span>
  </a>
</header>

<aside class="main-sidebar">
<section class="sidebar">
<ul class="sidebar-menu">

  <li class="header">MENU</li>

  <li>
    <a href="/ecommerce/public/admin">
      <i class="fa fa-dashboard"></i> <span>Dashboard</span>
    </a>
  </li>z

  <li>
    <a href="/ecommerce/public/admin/users">
      <i class="fa fa-users"></i> <span>Usuários</span>
    </a>
  </li>

</ul>
</section>
</aside>

<div class="content-wrapper">
<section class="content">
